-r default.txt
gunicorn>=23.0.0
sphinx>=8.3.0
sphinx-autobuild>=2024.0.0
sphinx_rtd_theme>=2.0.0
coverage>=7.2.7
codacy-coverage>=1.3.11
freezegun>=1.2.2
setuptools>=80.4.0
boto3>=1.38.12
awscli>=1.32.0
ipdb>=0.13.13
twine>=4.0.2
# using mwaaas branch here as we wait for this pull request to be merged
# https://github.com/steven-bruce-au/dynamodb-local-cloud-formation/pull/4
git+https://github.com/mwaaas/dynamodb-local-cloud-formation.git@4bc92a0430ec319dc3ce33e9fffadd6ba1c861a8
